<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		
		<img class="retina" src="./images/bg.png" alt="" inline>
		
		<img class="retina line_ver" src="./images/line_ver.png" alt="" inline>
		<img class="retina logo_metro" src="./images/logo_metro.png" alt="" inline>
		
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		
		<img class="retina cta" src="./images/cta.png" alt="" inline>
		
		
	</div>
	
</div>