<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		
		<img class="retina" src="./images/bg.png" alt="" inline>
		<img class="retina line_hor" src="./images/line_hor.png" alt="" inline>
		<img class="retina line_ver" src="./images/line_ver.png" alt="" inline>
		<img class="retina logo_metro" src="./images/logo_metro.png" alt="" inline>
		<img class="retina logo_ls" src="./images/logo_ls.png" alt="" inline>
		<img class="retina t1" src="./images/t1.png" alt="" inline>
		
		<img class="retina logo_royal" src="./images/logo_royal.png" alt="" inline>
		<img class="retina logo_spot" src="./images/logo_spot.png" alt="" inline>
		<img class="retina t3a" src="./images/t3a.png" alt="" inline>
		<img class="retina t3b" src="./images/t3b.png" alt="" inline>
		<img class="retina cta" src="./images/cta.png" alt="" inline>
	</div>
	
</div>