<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		
		<img class="retina" src="./images/bg.png" alt="" inline>

		<img class="retina f1 logo_metro" src="./images/logo_metro.png" alt="" inline>
		<img class="retina f1 line_hor" src="./images/line_hor.png" alt="" inline>				
		<img class="retina f1 logo_ls" src="./images/logo_ls.png" alt="" inline>


		<img class="retina t1" src="./images/t1.png" alt="" inline>
		<img class="retina f2 t2" src="./images/t2.png" alt="" inline>
		<img class="retina f2 logo_royal" src="./images/logo_royal.png" alt="" inline>

		
		<img class="retina logos" src="./images/logos.png" alt="" inline>
		
		
		<img class="retina cta" src="./images/cta.png" alt="" inline>
	</div>
	
</div>